@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

body#body-login {
    background-color: #181818;
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
}

.area-login {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: #2b2b2b;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 310px;
    padding: 35px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.342);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-top: 15px;
    background-color: #999999;
    color: rgb(24, 24, 24);
    padding-left: 15px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 5px;
}

.inputmain {
    transition: 0.2s;
}

.inputmain::placeholder {
    transition: 0.2s;
}

.inputmain:focus {
    background-color: #5f4b88;
    color: rgb(219, 219, 219);
}

input::placeholder {
    color: rgb(41, 41, 41);
}

#entrar{
    display: block;
    margin-top: 20px;
    height: 40px;
    width: 295px;
    border-radius: 5px;
    color: rgb(202, 202, 202);
    border: none;
    background-color: #5f4b88;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

#entrar:hover {
    background-color: #58ca84;
}

#entrar:active {
    background-color: #a4ffc7;
}

.logo img {
    height: 80px;
    margin: 5px;
}

.login p {
    margin: 1px;
    padding: 2px;
    color: rgb(202, 202, 202);
    text-align: center;
    display: flex;
    flex-direction: column;

}

#esque {
    margin-top: 14px;
}

.login a {
    text-decoration: none;
    color: #5f4b88;
    font-weight: 700;
    transition: 0.2s;
}

.login a:hover {
    color: #58ca84;
}

.login a:active {
    color: #F0BF5B;
}

/* --------------home ADM------------- */
body#bodyAdm{
    background-color: #759BE0;
}
main#mainAdm{
    display: flex;
    flex-direction: column;
    
}
.card{
    width: 100px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    padding: 10px;
}
.card:hover{
    background-color: #80c49a;
}
.card a{
    text-decoration: none;
    padding: 10px;
}

/* ---------------conta-------------- */
.btnvoltar {
    text-decoration: none;
    background-color: #5f4b88;
    color: rgb(202, 202, 202);
    height: 30px;
    width: 100px;
    border-radius: 10px;
    padding: 8px;
    transition: 0.2s;
}
.btnvoltar:hover {
    background-color: #7e62b4;
}
.btnvoltar:active {
    background-color: #b28bff;
}

.btnpadrao {
    display: flex;
    background-color: rgb(207, 49, 49);
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 30px;
    width: 60px;
    transition: 0.2s;
    cursor: pointer;
}
.btnpadrao:hover {
    background-color: rgb(238, 56, 56);
}
.btnpadrao:active {
    background-color: rgb(255, 118, 118);
}

.btnpadrao {
    display: flex;
    background-color: rgb(207, 49, 49);
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 30px;
    width: 60px;
    transition: 0.2s;
    cursor: pointer;
}
.btnsair:hover {
    background-color: rgb(238, 56, 56);
}
.btnvoltar:active {
    background-color: rgb(255, 118, 118);
}

.mostrarconta {
    margin-top: 10px;
    text-align: center;
}

.fundoconta {
    background-color: #2b2b2b;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}

.spanconta {
    color: #ad84ff;
}
/* ---------------acervo-------------- */
body#body-acervo {
    background-color: #0f0f0f;
}

header {
    height: 70px;
    width: auto;
    background-color: #181818;

    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-between;
}

header p {
    display: flex;
    align-self: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    color: rgb(228, 228, 228);
}

header img {
    margin: 10px;
}

#contaicon {
    font-size: 1em;
    color: #e4e4e4;
    background-color: #5f4b88;
    height: 100%;
    width: 70px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#contaicon:hover {
    background-color: #9979da;
}

nav {
    height: 40px;
    width: auto;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

nav.navacervo {
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}



#pesquisa {
    height: 20px;
    margin-left: 5px;
    border: none;
    color: #181818;
    outline: none;
    padding: 3px;
    padding-left: 5px;
    border-radius: 2px;
    background-color: #e4e4e4;
    transition: 0.2s;
}

#pesquisa:focus{
    background-color: #7961AA;
}

#btnpesquisa {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 3px;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #7961AA;
    transition: 0.2s;
    margin-right: 10px;
}

#btnpesquisa:hover {
    background-color: #f5d18a;
}

#filtros {
    height: 24px;
    border-radius: 2px;
    border: none;
    outline: none;
    transition: 0.5s;
}

main#mainAcervo{
    display: flex;
    flex-flow: row wrap;
}

.book-box {
    display: flex;
    flex-flow: column wrap;
    background-color: #886ebd;
    width: 40vw;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.185);
}

.avaliacao {
    display: flex;
}
.star-icon{
    list-style-type: none;
    cursor: pointer;
    color: #ffe500;
    font-size: 1.5em;
}

/* ---------------ranking-------------- 

#body-ranking{
    background-color: #759BE0;
    font-family: 'Work Sans', sans-serif;
}
#header-ranking{
    height: 10vh;
    background-color: #7766A8;
    display: flex;
    flex-direction: row;
    justify-content: flex-starts;
    margin-bottom: 15px;
}
#header-ranking img{
    margin: 10px;
    
}
#header-ranking > p {
    align-self: center;
}
#header-ranking p {
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
}
#main-ranking{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#content-ranking{
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.celulas-ranking{
    border: 1px solid black;
    border-radius: 7px;
    width: 100%;
    height: 5vh;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.celulas-ranking p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
} 
